* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.debug {
  border: 1px solid black;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* HEADER */

/* header, main .jambotron, main .why-choose, footer {
  padding: 0 25%;
} */
header {
  height: 80px;
  background-color: #3161e0;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
header ul, footer ul {
  list-style: none;
}
 
header .menu ul {
  display: flex;
}

a {
  text-decoration: none;
}

header .menu a {
  color: #f0f3fd;
  font-weight: bold;
}

header .menu li {
  padding-left: 50px;
  
}

header .menu a:hover {
  text-decoration: underline;
  color: blue;
}

a.button {
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
}

 .button.login {
  background-color: #f0f3fd;
  color: black;
  font-weight: bold;
 
 }

/* JUMBOTRON */
.jumbotron {
  height: 480px;
  color: #ffffff;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 800px;
  text-align: center;
}


.jumbotron h1 {
  font-size: 3rem;
  padding-bottom: 3rem;
}

.jumbotron p {
  line-height: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.jumbotron i {
  font-size: 16px;
}

.jumbotron .button {
  font-size: 20px;
 }

 .button.top-download {
  background-color: #f0f3fd;
  color: black;
  margin: 2rem;
 }

 .button.browse {
  background-color:black;
  color: #f0f3fd;
 }

/* MAIN */
main {
  background-color:#ffffff;
}

main .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section {
  padding: 8rem 0;
}

main .top-section .image {
  width: 60%;
}

main .top-section .description {
  width: 40%;
  padding: 0 3rem;
}
 
main .special {
  background-color: #f6f6f6;
}

main .container h2 {
  font-size: 3rem;
  padding: 1.5rem 0;
  font-weight: bolder;
}

main .container p {
  font-size: 1.3rem;
  line-height: 2rem;
}

main .bottom-section .container {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main .bottom-section .description {
  text-align: center;
  padding-bottom: 1.5rem;
}

.callto {
  text-align: center;
}

main .bottom-section h3 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

main .bottom-section .button.bottom-download {
  color: #f0f3fd;
  background-color: #8ea1e1;
}

/* FOOTER */
footer {
  background-color: #23272a;
  color: #fefefe;
}

footer .footer-top.container {
  justify-content: space-between;
}

footer h3 {
  font-size: 2rem;
}

footer .menu-section {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

footer .contacts {
  width: 25%;
}

footer .footer-top.container {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

.contacts :not(img) {
  padding-bottom: 1.2rem ;
}

footer h3, footer h4 {
  color: #7188d9 ;
}

footer .menu li, footer .menu h4,  .contacts span {
  padding: 0.3rem 0;
  font-size: 0.8rem;
  font-weight: bold;
}

footer .contacts img {
  width: 1.5rem;
  vertical-align: middle;
}

.social * {
  padding-right: 1rem;
}
















