* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.debug {
  border: 1px solid black;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* HEADER */

/* header, main .jambotron, main .why-choose, footer {
  padding: 0 25%;
} */
header {
  height: 80px;
  background-color: #3161e0;
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
header ul, footer ul {
  list-style: none;
}
 
header .menu ul {
  display: flex;
  
}

a {
  text-decoration: none;
}

header .menu a {
  color: #f0f3fd;
  font-weight: bold;
}

header .menu li {
  padding-left: 50px;
  
}

header .menu a:hover {
  text-decoration: underline;
  color: blue;
}

.button {
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

 .button.login {
  background-color: #f0f3fd;
  color: black
 }

/* JUMBOTRON */
.jumbotron {
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.jumbotron .content {
  max-width: 800px;
}

.jumbotron h1 {
  padding-bottom: 30px;
}

.jumbotron p {
  padding-bottom: 15px;
}

/* MAIN */
main {
  background-color:#ffffff;
  padding-top: 50px;
}

main .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

section {
  margin-bottom: 50px;
}

main .container .image {
  width: 60%;
}

main .container .description {
  width: 40%;
}
 
main .special {
  background-color: #f6f6f6;
}

main .container.bottom {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* FOOTER */
/* footer {
  background-color:greenyellow;
  padding-top: 50px;
  padding-bottom: 50px;
} */

footer .footer-top.container {
  justify-content: space-between;
}

footer .menu-section {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

footer .contacts {
  width: 30%;
}

footer .footer-top.container {
  background-color: green;
  display: flex;
  justify-content: space-between;
}
















